services:
  mariadb:
    build: requirements/mariadb/.   # Location of the Dockerfile. *
    image: mariadb
    container_name: mariadb
    volumes:                        # Maps a data directory or configuration file to the container.
      - mariadb_data:/var/lib/mysql
    restart: unless-stopped
    env_file: .env
    environment:
      PASSWORDS_FILE: /run/secrets/passwords
    secrets:
      - passwords
    networks:
      - inception

  wordpress:
    build: requirements/wordpress/.
    image: wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    volumes:
      - wordpress_data:/var/www/wordpress
    restart: unless-stopped
    env_file: .env
    environment:
      PASSWORDS_FILE: /run/secrets/passwords
      EMAILS_FILE: /run/secrets/emails
    secrets:
      - passwords
      - emails
    networks:
      - inception

  nginx:
    build: requirements/nginx/.
    image: nginx
    container_name: nginx
    depends_on:
      - wordpress
    volumes:
      - wordpress_data:/var/www/wordpress
    restart: unless-stopped
    ports:
      - "443:443"
    networks:
      - inception

secrets:
  passwords:
    file: ../secrets/passwords.txt
  emails:
    file: ../secrets/emails.txt

volumes:
  wordpress_data:
    name: wordpress_data
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/mortinso/data/wordpress'
  mariadb_data:
    name: mariadb_data
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/mortinso/data/mariadb'

networks:
  inception:
    driver: bridge

# * `build` can be divided into `context`(location of the dockerfile) and `dockerfile`(name of the file).
# However it's not necessary here, since the file is called 'Dockerfile'